<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>customerAdd</title>
</head>

<div id="container" style="width:1800px">

  <div id="content" style="background-color:#E0FFFF;height:1000px;width:1600px;float:left;">
    <p>欢迎使用餐厅点餐系统</p>
    <p th:text="${tip}"></p>
    <form action="/customerAddDishes" method="post">
      <div>
        <label>
          请输入菜品id
          <input type="number" name="id">
        </label>
      </div>
      <div>
        <label>
          请输入菜品数量
          <input type="number" name="count">
        </label>
      </div>
      <div>
        <input type="submit" value="确认">
      </div>
    </form>

    <form action="/dishes" method="post">
      <label>
        请输入菜品类型<input type="text" name="category">
        <label>
          请选择页数<select name="number">
          <option value="0">1</option>
          <option value="1">2</option>
        </select>
        </label>
        <input type="submit" value="确定">
      </label>
    </form>
    <table border="1">
      <tr>
        <th>id</th>
        <th>菜品名称</th>
        <th>菜品价格</th>
        <th>菜品类型</th>
      </tr>

      <tr th:each="m:${dishList}">
        <td th:text="${m.id}"></td>
        <td th:text="${m.name}"></td>
        <td th:text="${m.price}"></td>
        <td th:text="${m.category}"></td>
      </tr>

      <tr th:each="m:${dishLists}">
        <td th:text="${m.id}"></td>
        <td th:text="${m.name}"></td>
        <td th:text="${m.price}"></td>
        <td th:text="${m.category}"></td>
      </tr>
    </table>

    <form action="/dishesPage" method="post">
      <label>
        请选择页数<select name="number">
        <option value="0">1</option>
        <option value="1">2</option>
      </select>
      </label>
      <input type="submit" value="确定">
    </form>
  </div>

  <div id="footer" style="background-color:#CCFFCC;clear:both;text-align:center;">
    版权 你不可以动哦</div>
</div>
</html>
