<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>customer</title>
</head>

<div id="container" style="width:1800px">

  <div id="content" style="background-color:#E0FFFF;height:1000px;width:1600px;float:left;">
    <p>欢迎使用餐厅点餐系统</p>

    <form action="/customer" method="post">
      <label>
        请输入桌号<input type="number" name="number">
        <label>
          请输入人数<input type="number" name="count">
        </label>
        <input type="submit" value="确定">
      </label>
    </form>

  </div>

  <div id="footer" style="background-color:#CCFFCC;clear:both;text-align:center;">
    版权 你不可以动哦</div>
</div>
</html>
