<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>userBoard</title>
</head>

<div id="container" style="width:1800px">

  <div th:insert="commons::name"></div>

  <div id="content" style="background-color:#E0FFFF;height:1000px;width:1600px;float:left;">
    <p>欢迎<span th:text="${user.name}"></span>登陆,请选择您需要查看的内容</p>


  </div>

  <div id="footer" style="background-color:#CCFFCC;clear:both;text-align:center;">
    版权 你不可以动哦</div>
</div>
</html>
